{% load static %}
<!DOCTYPE html>
<html lang="en">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.11.338/pdf.min.js"></script>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Portfolio</title>
  <link rel="stylesheet" href='{% static "css/index.css" %}'>
</head>
<body>

  <header class="header">
    <div class="logo">
      <span>Welcome</span>
      <br>
      <span>To my portfolio</span>
    </div>
    <nav class="navbar">
      <a href="#about-me">About Me</a>
      <a href="#portfolio">Portfolio</a>
      <a href="#contact">Contact</a>
    </nav>

  </header>

  <div id="about-me" class="hero"></div>

  <section class="about-me">
    <div class="profile">
      <img src="..\media\Ceremony.jpg" alt="Profile Picture">
    </div>
    <div class="self-info">
      <h2>About Me</h2>
      <p>
        I am a senior Information Technology student with a keen focus on IoT projects, particularly demonstrating proficiency in utilizing C++ for Arduino-based applications. My expertise extends to graphic design, where I've honed my creative skills to bring visual aspects to life. My proficiency in project management is complemented by a hands-on approach to IoT.
      </p>
    </div>
  </section>

  <section id="portfolio" class="portfolio">
    <div class="portfolio-container">
      <h2>Portfolio</h2>
      <div id="pdfViewer"></div>  
      <button class="button" onclick="downloadPdf()">Download CV</button>
    </div>
  </section>

  <section id="contact" class="contact-information">
    <div class="contact-container">
      <h2>Contact Information</h2>
      <p>
        Here are some of my contacts so you can reach out to me.
      </p>
      <p>Email: clydeluy12@gmail.com</p>
      <p>Contact Number: (+63) 9557963370</p>
    </div>
  </section>

  <footer class="footer">
    <div class="footer-container">
      <div class="logo">Welcome to my Portfolio</div>
      <nav class="footer-nav">
        <a href="#about-me">About Me</a>
        <a href="#portfolio">Portfolio</a>
        <a href="#contact">Contact</a>
      </nav>
    </div>
    <div class="separator"></div>
    <div class="footer-allrights  ">
      <span>&copy; 2023 Luy_Website, All Rights Reserved.</span>
    </div>
  </footer>

</body>

 <script>
    //DOWNLOAD
  function downloadPdf() {
    // Replace 'path_to_your_pdf' with the actual path to your PDF file
    var pdfUrl = 'FrancisPortfolio/media/CV.pdf';

    // Create a temporary link element
    var link = document.createElement('a');
    link.href = pdfUrl;
    link.download = 'CV.pdf'; // Specify the filename for the downloaded file
    document.body.appendChild(link);

    // Trigger a click event on the link to initiate the download
    link.click();

    // Remove the link element from the DOM
    document.body.removeChild(link);
  }
  //Preview
  var pdfUrl = 'FrancisPortfolio\media\CV.pdf';

  // Specify the container element
  var container = document.getElementById('pdfViewer');

  // Asynchronously download PDF
  pdfjsLib.getDocument(pdfUrl).promise.then(function(pdfDoc) {
    // Get the first page of the PDF
    pdfDoc.getPage(1).then(function(page) {
      // Set the desired scale
      var scale = 1.5;
      var viewport = page.getViewport({scale: scale});

      // Create a canvas element to render the PDF page
      var canvas = document.createElement('canvas');
      var context = canvas.getContext('2d');
      canvas.width = viewport.width;
      canvas.height = viewport.height;
      container.appendChild(canvas);

      // Render the PDF page into the canvas
      var renderContext = {
        canvasContext: context,
        viewport: viewport
      };
      page.render(renderContext);
    });
  });

</script>


</html>